*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

h4{
	text-align: center;
}

p{
	font-size: .8em;
}
.container{
	height: 143.6mm;
	width: 70.9mm;
	background-color:  #eceff1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-around;
	padding: 2%;
}

.depositContainer{
	margin: 2%;
	width: 95%;
	background-color: white;	
	border-radius: 10px;
	color: gray;
	padding: 1%;
	height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.depositContainer p{
	font-weight: bold;
	width: 75%;
	margin-bottom: 2%;
}

.depositContainer input{
	border-radius: 5px;
	border-color: 1px solid gray;
	height: 35px;
	width: 80%;
}

select{
	border: 0px;
}

ul{
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}

li{
	height: 40px;
	width: 40px;
	background-color: white;
	margin: 2%;
	list-style: none;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.active{
	background-color: red;
	color: white;
	box-shadow: 0px 7px 19px -8px rgba(255,13,13,0.5);
}

.encabezados{
	display: flex;
	justify-content: space-between;
}

.cont1{
	width: 35%;
	height: 130px;
	background-color: red;
	color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5%;
	box-shadow: 0px 7px 19px -8px rgba(255,13,13,0.5);
}
.cont1 img{
	width: 40%;
}
.cont2{
	width: 35%;
	height: 130px;
	background-color: white;
	color: black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 5%;
}
button{
	background-color: red;
	color: white;
	width: 95%;
	height: 40px;
	border-radius: 10px;
	border: 0px;
	box-shadow: 0px 7px 19px -8px rgba(255,13,13,0.5);
}

.justify-align{
	display: flex;
	justify-content: space-around;
}